
#muligheder{
  margin-top: 120px;
  width: 100%;
  height: 50%;
  background-color: #3A3A3A;
  margin-right: 0%;
}
#valg{
margin-top: -10px;
margin-right: 40%;
}
#sider{
  float: right;
  margin-right: %;
}
.valgmuligheder{
  color: #fff;
}


/*----------------------------------------------------------*/
.container{
background-color: #DBE8CF;
height: 120px;
position: fixed;
width: 100%;
top: 0;
}
.logo-top{
  height: 100%;
  margin-left: 20%;
  margin-top: 0.5%;
  width: auto;
  float: left;
}
/*
---------------------------------------------------------------------------------------------------------------------------
*/header{
  background-color: #333;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
}

header ul{
  float: right;
  margin-right: 20%;
  margin-top: 1.5%;
  font-family: 'Arvo', serif;
}

header li{
  display: inline;
  padding: 20px 20px 0 20px;
}

.navigation a{
color: #ffffff;
text-decoration: none;
text-transform: uppercase;
font-size: 25px;
}
ul a:hover{
  color: #cccccc;
  font-weight: bold;
}

.navn{
  color: #57ad7e;
  font-weight: bold;
}
ul .current a{
  color: #3A3A3A;
  font-weight: bold;
}

/*
-----------------------------------------------------*/
/* SØGE FELT*/
.søgefunktion{
  margin-left: 70%;
  margin-top: 4.5%;
  position: absolute;
  top: 50%
  left: 50%;
  width: 400px;
  transform: translate(-50%,-50%);
}

input{
  position: relative;
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
}

input[type="text"]{
  background: #fff;
  width: 280px;
  height: 30px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 20px 0 0 25px;
  font-family: 'Arvo', serif;
}
input[type="submit"]{
  position: relative;
  border-radius: 0 25px 25px 0;
  width: 80px;
  height: 30px;
  left: -5px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #A7CE82;
  color: #3A3A3A;
  font-family: 'Arvo', serif;
}


/*------------------------------------------------------------------------*/
body{
  background-color: #DBE8CF;
  font-family: 'Arvo', serif;
  font-size: 20px;
}
a{
  text-decoration: none;
  color: #fff;
}
.rammen{
  background-color: #ffffff;
  width: 60%;
  height: 90%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 100px;
}
.tekst{
  margin-left: 2%;
  color: #3A3A3A;
  font-family: 'Arvo', serif;
}
.banner{
   width: 97%;
   margin-left: 1.5%;
   margin-top: 1.5%;
   margin-bottom: 0%;
   height: auto;
   max-height: 350px;
}
.intro{
  width: 95%;
  color: #63774F;
  margin-top: 1px;
  font-size: 25px;
}

.titel{
  font-size: 40px;
  margin-bottom: 0px;
}
.tilbud{
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 30px;
}
.info{
  width: 80%;
}

.tilmelding{
  font-size: 25px;
}
.tilmelding-måder{
  margin-bottom: 0px;
}
.tilmelding-muligheder{
  margin-top: 0px;
}
.bestilling{
  font-size: 25px;
}
.kontaktperson{
  margin-bottom: 0px;
}
.andre-muligheder{
  margin-bottom: 0px;
  margin-top: 15px;
}
.bestilling-liste{
  margin-top: 0px;
}
.aflevering-overskrift{
  font-size: 25px;
}
.aflevering{
    margin-bottom: 3px;
}
.aflevering-liste{
  font-size: 20px;
  margin-top: 0px;
}
.billede-bund{
  width: 97%;
  margin-left: 1.5%;
  margin-top: 1.5%;
  margin-bottom: 0%;
  height: auto;
  max-height: 350px;
}
.billede-bund1{
  width: 100%;
}
.observation{
  margin-left: -3%;
}

/* MEDIA QQ */
@media(max-width: 768px){
  #sider{
    float: none;
    text-align: center;
    width: 100%;
    margin-right: 0px;
    font-size: 12px;
  }
}
@media(max-width: 768px){
  #valg{
    margin-right: 25%;
    margin-top: 1.5%;
  }
}
@media(max-width: 768px){
  .søgefunktion{
    display: none;
  }
}

@media(max-width: 768px){
  #sider{
    float: none;
    text-align: center;
    width: 100%;
    margin-right: 0px;
    font-size: 12px;
  }
}
/*---------------------------------- anden side -----------------*/
.rammen1{
  background-color: #ffffff;
  width: 60%;
  height: 90%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 100px;
}
.søgefunktion{
  margin-left: 70%;
  margin-top: 4.5%;
  position: absolute;
  top: 50%
  left: 50%;
  width: 400px;
  transform: translate(-50%,-50%);
}

#søg4{
  position: relative;
  display: inline-block;
  font-size: 30px;
  box-sizing: border-box;
}

#søg4[type="text"]{
  background: #3A3A3A;
  width: 300px;
  height: 30px;
  margin-top: 2%;
  margin-left: 30%;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 20px 0 0 25px;
  font-family: 'Arvo', serif;
}
#søg5[type="submit"]{
  position: relative;
  border-radius: 0 25px 25px 0;
  width: 80px;
  height: 30px;
  left: -5px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #A7CE82;
  color: #3A3A3A;
  font-family: 'Arvo', serif;
}

.søgmateriale{
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 0px;
  font-size: 40px;
  color: #3A3A3A;
}
#find{
margin-top: -20px;
width: 100%;
padding-left:;
color: #3A3A3A;
}
#hjælp{
  color: #3A3A3A;
}
/*------------------------------------------------------------------------*/
